*{
    margin: 0;
    padding: 0;
}
#mask{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 110;
    color: rgba(0 ,0 , 0 , 0.3);
}
#login{
    display: none;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 50%;
    top : 50%;
    margin-top: -150px;
    margin-left: -300px;
    background: #ffffff;
    z-index: 120;
}
.login_header{
    width: 600px;
    height: 50px;
    color: #0016fb;
}
#login>form{
    height: 100px;
    width: 500px;
    margin: 50px 0 0 50px;
    background: #d6d6d6;
}
#login > form >button{
    right: 50px;
    position: relative;
    width: 100px;
    top: 10px;
    height: 80px;
    float: right;
}
#login> form > div{
    top: 10px;
    left: 100px;
    width: 200px;
    height: 90px;
    display: inline;
    position: relative;
    float: left;
}
#login> form > div>input{
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    display: block;
}
#login>ul{
    position: relative;
    top: 20px;
    margin: 0 auto;
    display: table;
}
#login > ul >li{
    text-align: center;
    width: 150px;
    float: left;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.imgBox{
    float: left;
    width: 650px;
    height: 100px;
}
.imgBox>a>img{
    margin: 35px 0 0 25px;
    height: 50px;
    width: auto;
}
.login_join{
    display: table;
    width: 320px;
    height: 50px;
    padding: 40px 15px 30px 15px;
    font-size: 12px;
}
.login_join>ul{
    overflow: hidden;
}
.login_join>ul>li{
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
    width: 75px;
    float: left;
    border: 1px solid #666666;
}
.login_join>ul>li>input{
    width: 125px;
    line-height: 30px;
    box-sizing: border-box;
}
.login_join>ul>li:nth-child(1){
    border-right: none;
}
.login_join>ul>li:nth-child(3){
    width: 116px;
    margin-left: 20px;
    border: none;
}
.login_join>ul>a>img{
    height: 34px;
    width: 34px;
}
.menu>ul{
    border-bottom: 2px solid  #0016fb;
    border-top: 2px solid  #0016fb;
}
.menu>ul:after {
    content: "";
    display: block;
    clear: both;
}
.menu>ul>li{
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}
.menu>ul>li:hover .sub_menu{
    background: rgba(255,255,255,0.6);
    z-index: 100;
    position: relative;
    border: 2px solid #b9c8ff;
    height: 150px;
    transition: 0.5s;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.menu>ul>li:nth-child(4):hover .sub_menu {
    height: 250px;
    transition: 0.5s;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sub_menu{
    overflow: hidden;
    height: 0;
}
.sub_menu>li{
    line-height: 50px;
    height: 50px;
}
.sub_menu>li>a:hover{
    font-size: 18px;
    transition: 0.3s;
    color: #0016fb;
    text-decoration: underline;
}
.imgSlide{
    padding-top:15px;
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 533px;
    overflow: hidden;
}

.imgSlide > img {
    width: inherit;
    position: absolute;
}
