*{
    margin: 0;
    padding: 0;
}
#mask{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 110;
    color: rgba(0 ,0 , 0 , 0.3);
}
#login_Popup{
    display: none;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 50%;
    top : 50%;
    margin-top: -150px;
    margin-left: -300px;
    background: #ffffff;
    z-index: 160;
}
.login_header{
    width: 600px;
    height: 80px;
    background: #262634;
    color: #ffffff;
}
.login_header>h2{
    position: relative;
    top:20px;
    left:50px
}
.login_header>img{
    top:-20px;
    width: 30px;
    height: auto;
    float:right;
    position: relative;
    right: 15px;
    cursor: pointer;
}
#login_Popup>form{
    height: 120px;
    width: 500px;
    margin: 30px 0 0 50px;
    background: #d6d6d6;
}
#login_Popup> form >button{
    right: 50px;
    position: relative;
    width: 100px;
    top: 20px;
    height: 80px;
    float: right;
}
#login_Popup> form > div{
    top: 20px;
    left: 50px;
    width: 200px;
    height: 90px;
    display: inline;
    position: relative;
    float: left;
}
#login_Popup> form > div>input{
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    display: block;
}
#login_Popup>ul{
    position: relative;
    top: 20px;
    margin: 0 auto;
    display: table;
}
#login_Popup > ul >li{
    text-align: center;
    width: 150px;
    float: left;
}
#join_Popup{
    display: none;
    position: absolute;
    margin-left:-300px;
    margin-top:-200px;
    left: 50%;
    top: 50%;
    z-index: 160;
    width: 600px;
    background: #ffffff;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.imgBox{
    float: left;
    width: 650px;
    height: 100px;
}
.imgBox>a>img{
    margin: 35px 0 0 25px;
    height: 50px;
    width: auto;
}
.login_join{
    display: table;
    width: 320px;
    height: 50px;
    padding: 40px 15px 30px 15px;
    font-size: 12px;
}
.login_join>ul{
    overflow: hidden;
}
.login_join>ul>li{
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
    width: 75px;
    float: left;
    border: 1px solid #666666;
}
.login_join>ul>li>input{
    width: 125px;
    line-height: 30px;
    box-sizing: border-box;
}
.login_join>ul>li:nth-child(1){
    border-right: none;
}
.login_join>ul>li:nth-child(3){
    width: 116px;
    margin-left: 20px;
    border: none;
}
.login_join>ul>a>img{
    height: 34px;
    width: 34px;
}
.menu>ul{
    background: #262634;
    color: white;
}
.menu>ul:after {
    content: "";
    display: block;
    clear: both;
}
.menu>ul>li{
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}
#loginButton,#joinButton{
    width: 75px;
    height: 30px;
    display: table;
}

.menu>ul>li:hover .sub_menu{
    background: rgba(255,255,255,0.6);
    z-index: 100;
    position: relative;
    border: 2px solid #262634;
    height: 150px;
    transition: 0.5s;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.menu>ul>li:nth-child(4):hover .sub_menu {
    height: 250px;
    transition: 0.5s;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sub_menu{
    overflow: hidden;
    height: 0;
}
.sub_menu>li{
    color:black;
    line-height: 50px;
    height: 50px;
}
.sub_menu>li>a:hover{
    font-size: 18px;
    transition: 0.3s;
    color: #0016fb;
    text-decoration: underline;
}
.imgSlide{
    padding-top:15px;
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 470px;
    overflow: hidden;
}
.imgSlide > img {
    width: inherit;
    position: absolute;
}
.slideControl{
    box-sizing: border-box;
    position: absolute;
    background: rgba(0,   0, 0 ,0.6);
    top:  580px;
    margin-left: 400px;
    border:3px solid white;
    padding: 20px;
    z-index: 150;
    border-radius: 20px;
}
#left_arrow,#right_arrow{
    cursor: pointer;
    height: 60px;
    width: 30px;
}
.slideControl>img:nth-child(2){
    margin: 0 30px 4px 30px;
    height: 50px;
    width: 40px;
}
