*{
    margin: 0 ;
    padding: 0;
}
#wrap{
    margin:  0 auto;
    height: auto;
    width: 1800px;
}
#header ul li:nth-child(2) a{
    color: red;
}
#section{
    height: 1200px;
    width: 100%;
}
#content{
    margin-top: 50px;
    color: #4a4a4a;
    text-decoration: none;
}
#imgBox{
    height:100%;
    width: 35%;
    background: url("../img/recruit_default_2560.jpg");
    background-size: 100%
    1500px;
    float: left;
}
#contentBox{
    margin: 3% 3% 0 3%;
    width: 59%;
    float: right;
}

#contentBox a{
    text-decoration: none;
    color: inherit;
}
#notice ul{
    margin-top: 30px;
    width: 100%;
 }
#notice:after{content:'';display:block;clear:both;}
.circle{
    margin: 20px 25px 0 0 ;
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: #cbcbcb;
}
.circle img{
    width: 120px;
    height: 50px;
    top: 50px;
    left: 14px;
    position: relative;
}
#notice ul li{
    list-style: none;
    float: left;
    width: 50%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#notice ul li:first-child{
    background-color: #404040;
    color: white;
}
#notice ul li:nth-child(2){
    box-sizing: border-box;
    border: 1px solid black;
}
#content>table{
    width: 80%;
    height: 50px;
    border-spacing: 0px;
}
#content tbody tr{
    height:30px;
    line-height: 30px;
}
#content table td{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
#content table tbody td>button{
    font-size: 12px;
    width: 70px;
    height: 25px;
}
#content table>tbody>tr>td:first-child{
    text-align: left;
}
#content table tbody td>button:first-child{
    border: none;
    margin-right: 5px;
    background: red;
    color: white;;
}
#content>table>td:nth-child(2){
    border: 1px solid black;
    box-sizing: border-box;
}